<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Busqueda de productos</title>
</head>
<body>
<h2>Buscar artículo</h2>
<form action="{% url 'buscar' %}" method="POST">
    {% csrf_token %}
    <label for="prd">Ingrese nombre artículo: <input type="text" name="prd" id="prd" minlength="1" required></label>
    <input type="submit" value="Enviar" id="btn_enviar">
</form>
</body>
</html>