<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Contacto</title>
</head>
<body>
<h2>Contáctanos</h2>
<form action="{% url 'contactar' %}" method="POST">
    {% csrf_token %}
    <p><label for="asunto">Asunto:<input type="text" name="asunto" id="asunto" maxlength="50" minlength="1" required></label></p>
    <p><label for="email">Correo:<input type="email" name="email" id="email" maxlength="50" minlength="5" required></label></p>
    <p><label for="asunto">Asunto: <textarea rows="10" cols="40" name="asunto" id="asunto" minlength="1" maxlength="2000" required></textarea></label></p>
    <input type="submit" value="Contactar" id="btn_contactar">
</form>
</body>
</html>