<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados</title>
</head>
<body>
    <h2>Resultados</h2>
    <p>Artículo buscado : {{query}}</p>
    {% if error != '' %}
        <p style="color:red;"><strong style="font-size:22px;">Error</strong> Largo de más de 25 caracteres, no se hace búsqueca</p>
    {% endif %}
    {% if articulos %}
    <table border="1px">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Seccion</th>
                <th>Precio $</th>
            </tr>
        </thead>
    {% for art in articulos %}
        <tr>
            <td>{{ art.nombre }}</td>
            <td>{{ art.seccion }}</td>
            <td>{{ art.precio }} $</td>
        </tr>
    {% endfor %}
    </table>
    {% else %}
        <p>No hay resultados</p>
    {%  endif %}
    <br><a href="{% url 'buscar_producto' %}">Regresar</a>
</body>
</html>