<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hola3</title>
</head>
<body>
    {# Esto es un comentario #}
    <h1>Hola bienvenido {{nombre}} tienes el id: {{id}}</h1>
    <p>Fecha: {{fecha}} </p>
    {% if not lista %}
    <p>No hay elementos por mostrar</p>
    {% else %}
    <ul>
        {% for list in lista %}
        <li>{{list}}</li>
        {% endfor %}
    </ul>
    {% endif%}
</body>
</html>