{% extends "subplantillas/base.html" %}

{% block titulo %}
Bienvenidos!!!
{% endblock %}

{% block index %}
    <p>Acá se usa el estilo de la plantilla hija sobre la padre</p>
    <p>Fecha: {{fecha}} </p>
    {% if not lista %}
    <p>No hay elementos por mostrar</p>
    {% else %}
    <ul>
        {% for list in lista %}
        <li>{{list}}</li>
        {% endfor %}
    </ul>
    {% endif%}
{% endblock %}